<div class="chat hidden">
        <div class="chat__users">
          <div class="chat__menu">
            <div class="hamburger"></div>
            <li class="user">
                <div class="user__photo"></div>
                <div class="user__text">
                  <div class="user__name">test__user</div>
                </div>
              </li>
          </div>
          <div class="users">Пользователи чата:</div>
          <div class="chat__users-list">
                <div class="user__name">test__user</div>
          </div>
        </div>
        <div class="chat__main">
          <div class="chat__main-title title">
            <div class="title__text">Чат</div>
            <div class="title__members">Участников: 2</div>
          </div>
          <div class="chat__window">
            <ul class="chat__messages">
            </ul>
          </div>
          <form action="." class="chat__send-form send">
            <input type="textarea" name="message" id="send__message-text" placeholder="Введите сообщение..." />
            <button class="send__form-button" type="submit">Отправить</button>
          </form>
        </div>
      </div>